<h2 id="terminology" class="mt-3">Terminology</h2>
<ol>
    <li>
        <strong><em>CP</em></strong> = Contribution Points
    </li>
    <small><strong><em>Contribution Points</em></strong> as explained by Blizzard, is a term that was very confusing to
        everyone
        I spoke to, as Blizzard uses the same term for 2 very different things. That&#39;s why I rephrase CP
        to two different terms sometimes to make it easier to differ: Rating & Qualification Points</small>
    <li><strong><em>Rating </em></strong> or <strong><em>Rating Points</em></strong> that represent your actual rank and
        your Progress within this rank. These are rewarded at specific milestones you qualify for and add up over
        multiple weeks, resulting in your current rank.</li>
    <li>
        <strong><em>Qualification Points</em></strong> that represent the rank you have qualified for by reaching a
        specific amount of Honor within 1 week
    </li>
    <li><strong><em>DHK</em></strong> or <strong><em>DK</em></strong> = Dishonorable Kill</li>
    <li><strong><em>Decay</em></strong> = Loss of Rating</li>
    <li><strong><em>Buckets</em></strong> = Honor Milestones (was used by Blizzard in <a
            href="https://us.forums.blizzard.com/en/wow/t/so-how-does-this-dishonorable-kill-system-work/1664598/38">this
            Bluepost</a>)</li>
</ol>
<h2 id="references">References</h2>
<ul>
    <li><a href="https://us.forums.blizzard.com/en/wow/t/classic-era-pvp-update-december-5/1724481">Blue-Post: Decay
            Removal Announcement</a></li>
    <li><a href="https://us.forums.blizzard.com/en/wow/t/so-how-does-this-dishonorable-kill-system-work/1664598/38">Blue-Post:
            Dishonorable Kills Meta changed Reward Calculation</a></li>
    <li><a href="https://eu.forums.blizzard.com/en/wow/t/wow-classic-era-1144-pvp-ranking-update-examples/463646">Blue-Post:
            WoW Classic Era 1.14.4 PvP Ranking Update Examples</a></li>
    <li><a href="https://eu.forums.blizzard.com/en/wow/t/classic-era-1144-pvp-update/457615">Blue-Post: Classic Era
            1.14.4 PvP Update</a></li>
</ul>

<h2 id="new-ranking-system">New Ranking System</h2>
<ul class="list-group">
    <li class="list-group-item">
        <p><strong>Q: How does Honor work now? / Why does my friend get the same amount of progress even though he
                farmed 80k less honor than me?</strong></p>
        <p>A: Honor has basically become vanity points until you reach specific Milestones, which give you a chunk of
            progress. Inbetween those Milestones nothing happens and Honor is basically there to make number go bigger
        </p>
    </li>
    <li class="list-group-item">
        <p><strong>Q: What are the Requirements to meet for Rank 1?</strong></p>
        <p>A: The requirements are still 15 Honorable Kills. But by qualifying for Rank 1 you will automatically receive
            enough <em>Rating Points</em> as a Reward to be Rank 2, effectively skipping Rank 1.</p>
    </li>
    <li class="list-group-item">
        <p><strong>Q: Are there still Brackets?</strong></p>
        <p>A: No. You are not compared to other players. You are aiming for static Honor goals defined by Blizzard.</p>
    </li>
    <li class="list-group-item">
        <p><strong>Q: How does Decay work now?</strong></p>
        <p>A: There is no Decay in any shape or form.</p>
    </li>
    <li class="list-group-item">
        <p><strong>Q: How long does it take me to reach R14?</strong></p>
        <p>A: If you get the maximum amount of <em>Qualification Points</em> possible every week, it will take you 8
            weeks. If you want more specific numbers I recommend looking at the <a
                href="https://www.reddit.com/r/classicwow/comments/17zr3d7/rank_14_grind_data/">documented
                R14 grind</a> by Reddit User /u/agakongen</p>
    </li>
    <li class="list-group-item">
        <p><strong>Q: What is the Honor to CP Rate?</strong></p>
        <p>A: This is determined based on your Current Rank and the Rank you qualified for. There are 3 Conversion
            Brackets.
            What I call Conversion Brackets are the Ranges of Ranks that have different CP/Honor Conversion Rates, as
            stated in Blizzards Bluepost.
            These are equal for all Ranks within the Bracket.</p>
        <ul>
            <li>Bracket 1 (R1-R6): <code>45000/20000 = 2.25</code></li>
            <li>Bracket 2 (R7-R10): <code>(175000-45000)/(40000-20000) = 6.5</code></li>
            <li>Bracket 3 (R11-R14): <code>(500000-175000)/(60000-40000) = 16.25</code></li>
        </ul>
        <p>This has been reverse-engineered by Beastinblack and confirmed with the communitys screenshots.</p>
    </li>
</ul>