<div class="alert alert-info mt-3" role="alert">
    <h4 class="alert-heading">Questions?</h4>
    <p>If you have any questions or need help, or simply want to discuss something about the Ranking System, feel free to join the Discord.</p>
    <p>It was originally created for reverse engineering purposes.</p>
    <hr>
    <p class="mb-0"><a target="_blank" href="https://discord.gg/zev32q2eJg" class="btn btn-lg btn-discord text-white"><ng-icon name="bootstrapDiscord" size="32px" class="me-2 d-inline"></ng-icon> Join</a></p>
</div>
<div class="text-center">
    <small style="color: #878787;"><a target="_blank" href="https://github.com/soFFe/ClassicEraHonorCalculator"><ng-icon name="bootstrapGithub" class="text-black d-inline"></ng-icon> GitHub</a> | <a target="_blank" href="https://www.curseforge.com/wow/addons/ranker-your-helper-through-the-classic-era-pvp-honor-system"><ng-icon name="simpleCurseforge" class="text-white d-inline"></ng-icon> Ranker Addon by GrumpyPlayer</a> |  <a target="_blank" href="https://wago.io/CjgnHSx05">WeakAura by Dildore-Whitemane</a> | <a target="_blank" href="https://docs.google.com/spreadsheets/d/1vX1eXeDflKf7mC1PHm_5OhSKv6LjjjZEe3DzWHqyCKM/copy">Spreadsheet by Beastinblack-Firemaw</a></small>
    <br>
    <small>Made by Franz-Firemaw | Special Thanks to Lewkah and Beastinblack-Firemaw</small>
</div>
