.progressbar-milestone
{
    border-right: 1px solid #fff;
    text-align: right;
}

.progressbar-milestone-button {
    outline: none;
    border: none;
    background: none;
    &:hover {
        text-decoration: underline;
    }
}