<div class="alert alert-danger alert-dismissible fade show mb-4" role="alert">
    <small>The calculator does not calculate how much you Decay yet. If you gain 0 rating, that means you're decaying!</small>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>    
</div>
<div class="row">
    <form>
        <div>
            <label for="currentRank">Current Rank</label>
            <div class="input-group">
                <div class="input-group-text"><img [src]="'assets/rank-icons/' + currentRankNum + '.webp'"></div>
                <select class="form-select form-select-lg" [(ngModel)]="currentRankNum" name="currentRank"
                    id="currentRank">
                    <option *ngFor="let kvPair of ranks | keyvalue" [ngValue]="kvPair.key">
                        Rank {{ kvPair.key }}
                    </option>
                </select>
            </div>
        </div>
        <div class="mt-3">
            <label for="rankProgress">Rank Progress (%)</label>
            <div class="input-group">
                <button class="btn btn-outline-info" type="button" data-bs-toggle="collapse"
                    data-bs-target="#rankProgressHelp">❔</button>
                <input type="text" [(ngModel)]="rankProgress" (beforeinput)="validateNumberBeforeInput($event, true)"
                    (change)="validateNumberOnChange($event, 0, 100)" class="form-control font-monospace"
                    name="rankProgress" autocomplete="off" id="rankProgress" [placeholder]="rankProgress">
            </div>
        </div>
        <div class="collapse bg-info-subtle border mt-2" id="rankProgressHelp">
            <p class="m-3">
                You can type <code>/run print((GetPVPRankProgress()*100).."%")</code> ingame to get the exact percentage
            </p>
        </div>
        <div class="mt-3">
            <label for="honorFarmed">Honor this week</label>
            <input type="text" [(ngModel)]="honorFarmed" (beforeinput)="validateNumberBeforeInput($event, false)"
                (change)="validateNumberOnChange($event, 0, 500000)" class="form-control font-monospace"
                name="honorFarmed" autocomplete="off" id="honorFarmed" [placeholder]="honorFarmed">
        </div>
    </form>
</div>
<div class="row mt-5">
    <div class="col">
        <div class="card">
            <h5 class="card-header">This Week</h5>
            <table class="table table-striped table-hover table-bordered mb-0">
                <tbody>
                    <tr>
                        <td>Rating</td>
                        <td class="font-monospace">{{ CalculateCurrentRating() }}</td>
                    </tr>
                    <tr>
                        <td>CP Farmed</td>
                        <td class="font-monospace">{{ DisplayCpFarmed() }}</td>
                    </tr>
                    <tr>
                        <td>Qualified Rank</td>
                        <td class="font-monospace">{{ DisplayQualifiedRank() }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <h5 class="card-header">Next Week</h5>
            <table class="table table-striped table-hover table-bordered mb-0">
                <tbody>
                    <tr>
                        <td>Rating</td>
                        <td class="font-monospace">
                            {{ CalculateNextRating() }} 
                            <span [class]="CalculateNextRating() - CalculateCurrentRating() > 0 ? 'badge bg-success' : 'badge bg-danger'">
                                <span *ngIf="CalculateNextRating() - CalculateCurrentRating() >= 0">+</span>
                                {{ CalculateNextRating() - CalculateCurrentRating() }}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Rank</td>
                        <td class="font-monospace">
                            {{ CalculateNextRankNum() }} ({{ DisplayNextRankPercentage() }}%)
                            <span [class]="CalculateNextRankNum() - currentRankNum > 0 ? 'badge bg-success' : 'badge bg-danger'"><span *ngIf="CalculateNextRankNum() - currentRankNum >= 0">+</span>{{ CalculateNextRankNum() - currentRankNum }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Max Possible Rank</td>
                        <td class="font-monospace">{{ CalculateMaxNextRankNum() }}</td>
                    </tr>
                    <tr>
                        <td>Max Possible Rating Gain</td>
                        <td class="font-monospace">+{{ DisplayMaxRatingGain() }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<h5 class="mt-5">min. Honor for max. Rating</h5>
<div class="progress" role="progressbar" style="height: 60px;">
    <div class="progress-bar bg-success overflow-visible" [style]="'width: ' + CalculateHonorFarmProgress() + '%'">
        <span class="text-center fs-5 ps-2 pe-2">{{ honorFarmed }} / {{ CalculateMinimumHonorForMaxRatingGain() }} Honor</span>
        <span class="ps-2 pe-2">{{ CalculateHonorFarmProgress().toFixed(2) }}%</span>
    </div>
</div>
