.progressbar-milestone
{
    border-right: 1px solid #fff;
    text-align: right;
}

.progressbar-milestone-hidden
{
    border-right: 0 !important;
}

.progressbar-milestone-button {
    outline: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.progressbar-milestone:hover .progressbar-milestone-button>ng-icon
{
    opacity: 1;
}